body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 2em 10vw 0em;
}


main{
  margin: 0em 1.5em;
}

header {
  padding: 0em;
  img{
    margin-left:2em;
    width:100px;
    height: auto;
  }
}

footer {
  padding: 1.5em 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > nav {
    display: flex;
    gap: 1.5em;
  }
  > p {
    margin-top: 0;
  }
}

section:first-child{
  padding: 1em;
  display: flex;
  gap: 1em;
  > img{
    width: auto;
    height: auto;
    max-width: 20em;
    max-height: 20em;
  }
}
