:root{
    /* Site theme */
    --primary-color:#2a2d89;
    --secondary-color:orange;
    --terciary-color: rgb(64, 191, 233);
    --background-color: white;

    /* Fonts */
    --heading-font: 'Bebas Neue', sans-serif;
    --body-font: 'Inter', sans-serif;


    
}